* {
    padding: 0;
    margin: 0;
    


}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.contenar {
    margin-top: 100px;
    height: 400px;
    width: 320px;
    border-radius: 5px;
    border: 1px solid rgb(181, 178, 178);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    

}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenar > .nav > img {
    width: 50px;
    height: 50px;

    margin: 4px;
    border-radius: 50%;
}
.contenar > .nav > span {
    margin-bottom: 10px;
    font-size: 22px;
}
.contenar > img {
    height: 300px;
    width: 300px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 7px;
}
.contenar svg {
    color: #fff;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 150px;
    left: 100px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.52, 0.46, 0.31, 1.32);
}

.bottom {
    display: flex;
    font-size: 25px;
    gap: 16px;
    margin-left: 10px;
}

.bottom .save {
    margin-left: 127px;
}

.bottom .like-img span {
    font-size: 20px;
}